html {
  background: #fed;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav > div {
  flex-grow: 0;
}

nav a {
  display: inline-block;
  padding: 0 0.5em 0.5ex;
}

nav a + a {
  border-left: 1px solid black;
}

nav a:hover {
  background: #0001;
}

article {
  max-width: 8in;
  margin-left: 12px;
}

article h1 {
  font-size: 200%;
}

h1, h2, h3 {
  color: #321;
}

.credits {
  text-align: center;
}

pre {
  margin-left: 4ch;
}