html {
  background: #fed;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.sidebar {
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1px solid #000;
  margin-right: 16px;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  background: #0001;
}

.navbar > div {
  flex-grow: 0;
}

.navbar a {
  display: inline-block;
  padding: 0 0.5em 0.5ex;
}

.navbar a + a {
  border-left: 1px solid black;
}

.navbar a:hover {
  background: #0001;
}

.mdsite-breadcrumb a:after {
  content: '▸';
  padding: 0 0.5em;
  display: inline-block;
}

article {
  max-width: 8in;
  margin: 12px;
}

article h1 {
  font-size: 200%;
}

h1, h2, h3 {
  color: #321;
}

.credits {
  text-align: center;
  padding: 12px;
}

pre {
  margin-left: 4ch;
}